@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Add base styles to ensure full height */
html,
body {
  @apply h-full antialiased;
  color: var(--foreground);
  background: var(--background);
}

#root {
  @apply h-full;
}

* {
  @apply box-border p-0 m-0;
}
